.widgets {
  .loader{
    padding:200px;
    color:#a4a9ac;
    width:100%;
    text-align: center;
  }
  .ticker {
    float:left;
    overflow: hidden;
    margin-right:10px;
    margin-bottom: 0.4rem;
    border-radius: 3px;
    color: #a4a9ac;
    background-color: #1e243a;
    padding:6px 9px;
    width: 25%;
    max-width:400px;
    min-width:300px;
    .tickerControls{
      width:100%;
      display:block;
      border-bottom: 1px solid #29373b;
      margin-bottom: 4px;
    }
  }
  .order-book {
    overflow: hidden;
    margin-bottom: 0.4rem;
    border-radius: 3px;
    color: #a4a9ac;
    background-color: #1e243a;
    padding:6px 9px;
    width: 50%;
    float:left;
    .orderControls {
      width:100%;
      display:block;
      border-bottom: 1px solid #29373b;
      margin-bottom: 4px;
    }
    .bids, .asks{
      width:50%;
      float:left;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    .order-row, .order-header {
      width: 100%;
      display: block;
      height:20px;
      position: relative;
      .row-set{
        position:absolute;
        left:0;
        top:0;
        width:100%;
      }
      .bid-total-bar{
        text-align: right;
        .bar{
          position:absolute;
          right:0;
          top:0;
          width:50%;
          background: rgba(137,188,62,0.2);
          height:20px;
        }
      }
      .ask-total-bar{
        text-align: left;
        .bar{
          position:absolute;
          left:0;
          top:0;
          width:50%;
          background: rgba(216,70,78,0.2);
          height:20px;
        }
      }
      .right40 {
        width: 30%;
        float: left;
        text-align: right;
        padding-right:10px;
      }
       .right10 {
        width: 15%;
        float: left;
        text-align: right;
        padding-right:10px;
      }
      .left40 {
        width: 30%;
        float: left;
        text-align: left;
        padding-left:10px;
      }
      .left10 {
        width: 15%;
        float: left;
        text-align: left;
        padding-left:10px;
      }
      .center10 {
        width: 10%;
        float: left;
        text-align: center;
      }
      .bid-spacer {
        width: 15%;
        float: left;
      }
      .ask-spacer {
        width: 15%;
        float: left;
      }
    }
    .order-header {
      color:#646B6E;
      font-weight: normal;
    }

  }
  h5 {
    color: #f5f6f7;
    font-weight: 600;
    font-size: 13px ;
    line-height: 20px;
    padding-top: 6px;
    text-transform: uppercase;
    margin-bottom:4px;
    .symbol{
      color: #f5f6f7;
      opacity:0.5;
      padding-left:10px;
    }
  }
  table.ticker-list{
    width: 100%;
    font-weight: 900;
    .positive{
      color:#7a9c4a;
    }
    .negative{
      color:#aa6064;
    }

    .last{
      width: 35%;
      text-align: right;
    }
    .symbol{
      width:12%;
    }
    .percent{
      width:18%;
      text-align: right;
    }
    .volume{
      width:35%;
      text-align: right;
    }
    .pair-table-header{
      color:#646B6E;
      font-weight: normal;
      font-size: 11px;
      text-transform: uppercase;
    }
    .pair-table-body{
      border-bottom: 1px solid #29373b;
      font-size: 12px;
      &:last-child{
        border-bottom:none;
      }
      span{
        color:#646B6E;
        text-transform: uppercase;
        padding-left:4px;
      }
    }
  }

  ul {
    display: block;
    float: left;
    width:100%;
    padding:0;
    li {
      list-style: none;
      color: #fff;
      font-size: 13px;
    }
  }
}